<launch>

  <!-- Gazebo -->
  <arg name="world_file" default="$(find era_gazebo)/worlds/era.world"/>
  <arg name="gui" default="true"/>
  <include file="$(find era_gazebo)/worlds/empty_world.launch">
    <arg name="use_sim_time" value="true"/>
    <arg name="debug" value="false"/>
    <arg name="gui" value="$(arg gui)" />
    <arg name="world_name" value="$(arg world_file)"/>
  </include>

  <!-- Common robot arguments -->
  <arg name="base" value="kobuki"/> <!-- create, roomba -->
  <arg name="stacks" value="hexagons"/> <!-- circles, hexagons --> 
  <arg name="3d_sensor" value="kinect"/> <!-- kinect, asus_xtion_pro -->   
  
  <!-- First robot -->
  <group ns="r0">
    <include file="$(find era_gazebo)/launch/kobuki.launch.xml">
      <arg name="namespace" value="r0" />
      <arg name="initX" value="0" />
      <arg name="initY" value="-2" />
      <arg name="initYaw" value="0" />
      <arg name="base" value="$(arg base)"/>
      <arg name="stacks" value="$(arg stacks)"/>
      <arg name="3d_sensor" value="$(arg 3d_sensor)"/>
      <arg name="kobuki_publish_tf" value="true"/>
      <arg name="local_port" value="52001" />
      <arg name="remote_port" value="52002" />
    </include>
  </group>

  <!-- Second robot -->
  <!--
  <group ns="r1">
    <include file="$(find era_gazebo)/launch/kobuki.launch.xml">
      <arg name="namespace" value="r1" />
      <arg name="initX" value="0" />
      <arg name="initY" value="1" />
      <arg name="initYaw" value="0" />
      <arg name="base" value="$(arg base)"/>
      <arg name="stacks" value="$(arg stacks)"/>
      <arg name="3d_sensor" value="$(arg 3d_sensor)"/>
      <arg name="kobuki_publish_tf" value="true"/>
      <arg name="local_port" value="52003" />
      <arg name="remote_port" value="52004" />
    </include>
  </group>
  -->
  
  <!-- Debugging tools -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find era_gazebo)/rviz/era.rviz" output="screen"/>
  
  <!-- Multi-robot map merging -->
  <!--
  <node name="map_merge" pkg="multirobot_map_merge" type="map_merge">
    <param name="known_init_poses" type="bool" value="false" />
    <param name="world_frame" type="string" value="map" />
  </node>
  -->
  
</launch>
