<?xml version="1.0"?>
<launch>

  <arg name="world_file"  default="$(find era_gazebo)/worlds/era.world"/>
  <arg name="gui" default="true"/>
  <arg name="robot1_name" default="r0"/>
  <arg name="robot2_name" default="r1"/>
  <arg name="profile" default="false"/>
  <arg name="profile_output" default="output.perf"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true"/>
    <arg name="debug" value="false"/>
    <arg name="gui" value="$(arg gui)" />
    <arg name="world_name" value="$(arg world_file)"/>
  </include>


  <group ns="$(arg robot1_name)">
     <include file="$(find era_gazebo)/launch/robot.launch">
      <arg name="robot_name" value="$(arg robot1_name)" />
      <arg name="initX" value="0" />
      <arg name="initY" value="-2" />
      <arg name="initZ" value="0" />
     </include>

     <include file="$(find era_gazebo)/launch/v2v.launch">
     	<arg name="robot_name" value="$(arg robot1_name)" />
     	<arg name="local_ip" value="127.0.0.1" />
		  <arg name="remote_ip" value="127.0.0.1" />
		  <arg name="local_port" value="52001" />
		  <arg name="remote_port" value="52002" />
      <arg name="robot_base_frame" value="base_footprint" />
      <arg name="map_frame" value="/map" />
      <arg name="use_gazebo" value="true" />
     </include>
  </group>

  <group ns="$(arg robot2_name)">
    <include file="$(find era_gazebo)/launch/robot.launch">
      <arg name="robot_name" value="$(arg robot2_name)" />
      <arg name="initX" value="1" />
      <arg name="initY" value="0" />
      <arg name="initZ" value="0" />
    </include>

    <include file="$(find era_gazebo)/launch/v2v.launch">
     	<arg name="robot_name" value="$(arg robot2_name)" />
     	<arg name="local_ip" value="127.0.0.1" />
		  <arg name="remote_ip" value="127.0.0.1" />
		  <arg name="local_port" value="52002" />
		  <arg name="remote_port" value="52001" />
      <arg name="robot_base_frame" value="base_footprint" />
      <arg name="map_frame" value="/map" />
      <arg name="use_gazebo" value="true" />
    </include>
  </group>
  


<node name="rviz" pkg="rviz" type="rviz" args="-d $(find era_gazebo)/rviz/era.rviz" output="screen" />

<!-- Profiling tools -->
<node name="profile_era" pkg="era_gazebo" type="profile_era.py" args="-o $(arg profile_output)" output="screen" if="$(eval profile == true)"/>


</launch>