<launch>

<arg name="robot_name" default="nuc"/>

<node pkg="era_gazebo" name="ERAmsgBuilder_node" type="ERAmsgBuilder_node" >
  <param name="ID" value="$(arg robot_name)"/>
</node>

<node pkg="era_gazebo" name="ERAmsgInterpreter_node" type="ERAmsgInterpreter_node" >
</node>


<arg name="local_port" value="52001" />
<arg name="remote_port" value="52002" />
<arg name="namespace" value="$(arg robot_name)" />

<node pkg="dsrc" name="wifi_transceiver"
    launch-prefix=""
    type="wifi_transceiver.py"
    args="--ros-namespace $(arg namespace)
          --local-port $(arg local_port)
          --remote-port $(arg remote_port)
          --encoding 0
          --freq 5890000000
          --samp-rate 10e6
          --tx-gain 0.75
          --rx-gain 0.75
          --chan-est 0
          --lo-offset 0"
    output="screen"/>
</launch>